* {
  box-sizing: border-box;
}
html{
  margin: 0;
  padding: 0;
  background: #99FFAF;
  background: linear-gradient(135deg, #8b22ee, #0d24f6);
}

body {
  width: 90vh;
  height: 100vh;
  font-family: Verdana, sans-serif;
  margin: auto;
  padding-inline: 2em;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  gap: 2em;
}

/* Slideshow container */
.slideshow-container {
  width: 80vh;
  height: 70vh;
  margin: auto;
  box-sizing: border-box;
  border: 2px solid #373638;
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  text-align: justify;
  background: #F6E063;
  background: linear-gradient(135deg, #ffffff, #c2faff);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.slideshow-container .fade {
  width: 100%;
  height: 100%;
}

.mySlides {
  width: 100%;
  height: 100%;
  margin: auto;
  display: none;
}

/* Image */


.text_img_block{
  width: 100%;
  height: 100%;
}

/* Pictures size */

.figure {
  width: 100%;
  height: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  min-width: 2em;
  min-height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: snow;
  background-color: hsl(247, 100%, 66%);
  font-weight: bold;
  font-size: 1.5em;
  transition: 0.6s ease;
  user-select: none;
  border-radius: 50%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit of transparency */
.prev:hover,
.next:hover {
  background-color: hsla(309, 100%, 50%, 0.833);
}

/* Caption text */
.text {
  width: 200px;
  height: auto;
  color: #1f0343;
  font-size:1.2em;
  font-weight: bold;
}
.text:first-of-type{
  margin-top: 20em;
}
.dot-block{
  display: flex;
  flex-direction: column;
  justify-content:start;
  gap: 12px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #aaaaaa;
  font-size: 2em;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: hsla(243, 76%, 50%, 0.3);
  color: aliceblue;
  display: inline-block;
  transition: background-color 0.6s ease;
  border-radius: 50%;
}
.active,
.dot:hover {
  background-color: #f97713;
}
.dot-block{
  transition: transform ease 0.3s;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 48em) {
  body{
    width: 80vh;
    height: 100vh;
    margin: auto;
  }
  .slideshow-container {
    min-width: 300px;
    min-height: 500px;
    margin: auto;
    box-sizing: border-box;
    border: 2px solid #373638;
    padding: 1em;
    margin-top: 3em;
    display: block;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    text-align: justify;
    background: #F6E063;
    background: linear-gradient(135deg, #ffffff, #c2faff);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    overflow: auto;
  }
  .slideshow-container .fade {
    width: 100%;
    max-height: 50%;
  }
  
  .dot-block{
    width:100%;
    margin: auto;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position:relative;
  }

  .text_img_block{
  width: 100%;
  height: 70%;
}

.text_img_block .figure{
  height: 100%;
  border: 1px solid wheat;
}
  

}
