* {
  box-sizing: border-box;
}
html{
  min-height: 100vh;
  min-width: 100vh;
  margin: 0;
  padding: 0;
  background: #99FFAF;
  background: linear-gradient(135deg, #8b22ee, #0d24f6);
}

body {
  font-family: Verdana, sans-serif;
  margin: auto;
  padding-inline: 2em;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: start;
  gap: 2em;
}

figure {
  height: 10em;
  width: 90%;
  margin: auto;
  margin-bottom: 3em;
  object-fit: contain;
  object-position: center;
}

/* Slideshow container */
.slideshow-container {
  min-width: 400px;
  width: 60vh;
  min-height: 500px;
  height: 90vh;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  border: 2px solid #373638;
  padding: 2em;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  text-align: justify;
  background: #F6E063;
  background: linear-gradient(135deg, #ffffff, #c2faff);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

}

.slideshow-container .fade {
  width: 90%;
  height: 50vh;
}

.mySlides {
  width: 100%;
  height: 100%;
  margin: auto;
  display: none;
}

/* Image */
.figure {
  width: 99%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  width: 2em;
  height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
  color: snow;
  background-color: hsl(247, 100%, 66%);
  font-weight: bold;
  font-size: 1.5em;
  transition: 0.6s ease;
  user-select: none;
  border-radius: 50%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit of transparency */
.prev:hover,
.next:hover {
  background-color: hsla(309, 100%, 50%, 0.833);
}

/* Caption text */
.text {
  width: 100px;
  height: auto;
  margin: auto;
  color: #1f0343;
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
}
.dot-block{
  display: flex;
  flex-direction: column;
  justify-content:start;
  gap: 12px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #aaaaaa;
  font-size: 2em;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: hsla(243, 76%, 50%, 0.3);
  color: aliceblue;
  display: inline-block;
  transition: background-color 0.6s ease;
  border-radius: 50%;
}
.active,
.dot:hover {
  background-color: #f97713;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 48em) {
  body{
    max-width:100vw;
    margin: 0;
    padding: 0;
    align-items: center
  }
  .slideshow-container {
    max-width: 80vw;
    margin: auto;
    min-height: 100vh;
    height: auto;
    position: relative;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid #373638;
    padding: 2em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 250, 248);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  }
  .slideshow-container .fade {
    width: 100%;
    height: auto;
  }
  .prev,
  .next {
    margin-top: 2em;
    font-size: 0.5em;
  }
  .text:first-element {
    font-size: 1em;
    margin-top: 2em;
  }
  .dot-block{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center
  }
}
